[Unit]
Description=Cheesys palace garage door opener
Wants=doorman
Requires=gate_api

[Service]
Restart=always
User=gate
WorkingDirectory=/home/gate/gate-controller
ExecStart=sh /home/gate/gate-controller/door_switch.sh

[Install]
WantedBy=multi-user.target