[Unit]
Description=Cheesys palace garage door opener
Requires=redis-server

[Service]
Restart=always
User=gate
WorkingDirectory=/home/gate/gate-controller
ExecStart=sh /home/gate/gate-controller/doorman.sh

[Install]
WantedBy=multi-user.target