[Unit]
Description=Cheesy's palace garage door opener

[Service]
Restart=always
User=root
WorkingDirectory=/home/gate/gate-controller
ExecStart=sh /home/gate/gate-controller/doorman.sh

[Service]
Restart=always
User=root
WorkingDirectory=/home/gate/gate-controller
ExecStart=sh /home/gate/gate-controller/gate_api.sh

[Service]
Restart=always
User=root
WorkingDirectory=/home/gate/gate-controller
ExecStart=sh /home/gate/gate-controller/door_switch.sh

[Install]
WantedBy=multi-user.target