[Unit]
Description=Cheesys palace garage door opener
Wants=doorman

[Service]
Restart=always
User=root
WorkingDirectory=/home/gate/gate-controller
ExecStart=/home/gate/gate-controller/gate_api.sh

[Install]
WantedBy=multi-user.target